.container {
  width: 95%;
  margin: 0 auto;
}
.row {
  display: flex;
  align-items: center;
  margin-top: 45px;
}
.row2 {
  display: flex;
  flex-direction: column;
}
.h6 {
  font-size: 18px;
  color: #1d9bf0;
  padding: 0 20px;
  font-family: Rokh-bold;
}
.titels {
  font-size: 16px;
  color: #040c1a;
  margin-top: 20px;
  padding: 0 20px;
}
.line {
  background-image: linear-gradient(
    to right,
    #1d9bf0 20%,
    rgba(255, 255, 255, 0) 0%
  );
  background-position: bottom;
  background-size: 20px 2px;
  background-repeat: repeat-x;
  width: 100%;
  height: 10px;
  opacity: 0.5;
}
.edd {
  font-size: 16px;
  color: #040c1a;
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 43px 0px;
  font-weight: 500;
}
.odd {
  display: flex;
  align-items: center;
  gap: 50px;
  color: #6c6c6c;
  font-size: 16px;
  font-weight: 500;
}

.rows {
  margin-top: 43px;
}

@media only screen and (max-width: 600px) {
}
