.container {
    max-width: 1138px;
    margin:0 auto;
    margin-top: 220px;
    direction: rtl;
 }

 
 .box {
     font-family: 'Rokh-medium';
     font-style: normal;
     font-weight: 600;
     font-size: 24px;
     color: #1D9BF0;
     direction: rtl;
     width: 1138px;
     height: 292px;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: flex-start;
     overflow-x: scroll;
     overflow: hidden;
 }
 
 .box p {
     font-family: "IRANSansX";
     font-style: normal;
     font-weight: 500;
     font-size: 20px;
     text-align: center;
     /* color: #040C1A; */
     margin-top: -20px;
     margin-left: 0px;
     margin-right:80px;
 }
 
 .container h3 {
     color: #1D9BF0;
     font-family: "Rokh-Bold";
     font-weight: 600;
     font-size: 30px;
     margin-bottom: 50px;
     direction: rtl;
 }
 .img{
    width: 250px;
    height: 200px;
    margin-bottom: 20px;
 }
 
 @media only screen and (max-width: 1100px) {
     .container {
         max-width: 100%;
         margin:0 auto;
         margin-top: 200px;
      }
      .box {
         color: #1D9BF0;
         direction: rtl;
         width: 100%;
     }
     .box p {
         font-family: "IRANSansX";
         font-style: normal;
         font-weight: 500;
         font-size: 19px;
         margin-left: 80px;
         margin-right: 0px;
     }
     .container h3 {
         font-weight: 600;
         font-size: 22px;
         text-align: center;
 
     }
 }