

.border {
  padding: 1rem;
  /*margin: 1rem;*/
  border: 1px solid black;
}

mjx-container[jax="CHTML"][display="true"] {
  display: inline-block!important;
}

.matrix-name {
  font-weight: bold;
}

.dimension-button-group {
  display: flex;
  justify-content: center;
}

.matrix-element {
  width: 2rem;
  display: initial;
  padding: 0;
}

.result-view-div {
  display: flex;
  align-items: center;
}


.single-matrix-definition{
  min-width: 15rem;
}

.matrix-elements {
  display: flex;
  justify-content: center;
  align-items: center;
}

.matrix-row {
  display: flex;
  justify-content: center;
}


.result {
  width: fit-content;
}