.muirtl-11ouz13-MuiPaper-root-MuiAppBar-root{
  background-color: inherit !important;
  background: none !important ;
  color: inherit !important;
  box-shadow: none !important;
  font-family: "vazir" !important;
}
