.listcontainer {
  width: 100%;
  height: 60px;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
  font-size: 14px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 17px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  justify-content: space-between;
  place-items: center;
}

.link:hover {
  color: #1d9bf0;
}

@media only screen and (max-width: 600px) {
  .listcontainer {
    font-size: 12px;
    padding: 5px;
    grid-template-columns: repeat(2, 1fr);
  }

  .link {
    grid-row-start: 1;
    grid-row-end: 4;
  }
}
