* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  
}
.light-body {
  background-image: url('../src/assets/image/pattern.png');
  background-repeat: repeat;
  background-size:100%;
  font-family: "IRANSansX";
  font-style: normal;
  font-weight: 600;
  margin: 0 auto;
  background-color: #fff;
  /* background-blend-mode: color-burn; */
  /* overflow-x: hidden; */
}
.dark-body{
  background-image: url('../src/assets/image/pattern.png');
  background-repeat: repeat;
  background-size:100%;
  font-family: "IRANSansX";
  font-style: normal;
  font-weight: 600;
  margin: 0 auto;
  background-color: #102534;
  background-blend-mode: color-burn;
}

a { 
  text-decoration: none;
  color: black;
}
li{
  text-decoration: none;
  list-style-type: none;
}


@media only screen and (max-width: 900px) {
  body {
    background-size:150%;
  }

}
