.timeInput{
    border: 1px solid #bdbdbd;
    border-radius: 10px;
    background-color: transparent;
    padding: 10px 0;
    width: 45%;
}
.reserveabletime{
width:100px;
height: 53px;
background: rgba(17, 170, 99, 0.2);
border-radius: 10px; 
display: flex;
align-items: center;
justify-content: center;
/* margin-left: 1rem; */
margin-bottom: 1rem;
}
.reserveabletimeContaner{
width:100%;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
height: 170px;
overflow: auto;
}
