.homeSection6 {
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 48px auto 0 auto;
  font-size: 20px;
  line-height: 40px;
  /* or 200% */

  text-transform: capitalize;

  /* text */

  color: #000b0c;
}
.rtl{
  text-align: right !important;
  direction: rtl !important;
}

.homeSection6 h2 {
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;

  /* gradient-cyan */

  background: linear-gradient(92.61deg, #5be2ff 0%, #066b81 108.3%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-bottom: 30px;
}

.section6_accordion {
  margin-bottom: 40px !important;
  width: 1029.9px;
  padding: 18px;
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(4px);

  border-radius: 15px !important;
  border: 1px solid;
  border-color: #8D26BE;
}
.Accordion_title {
  font-family: "Gilroy-Regular";
  font-size: 20px !important;
  font-weight: bold !important;
  line-height: 40px;
  /* or 200% */

  text-transform: capitalize;

  /* text */

  color: #000b0c;
}



@media only screen and (min-width: 1500px) {
  .articles_bg {
    width: 85%;
  }
}
@media only screen and (max-width: 1130px) {

  .homeSection6 h2 {
    font-size: 32px;
    text-align: center;
 
  }

  .articlesSection_title {
    font-size: 20px;
    text-align: center;
  }
  .articles_list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .article {
    width: 300px !important;
  }
  .articleContext {
    width: 250px;
    height: fit-content;
  }
  .articleContext h5 {
    font-size: 10px;
    text-align: center;
  }
  .articleContext p {
    font-size: 10px;
    text-align: center;
  }
  .articleImg {
    transform: rotate(180deg);
    -ms-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    width: 1px;
    height: 150px;
  }
  .section6_title {
    font-size: 15px;
    width: 300px;
    margin-left: 5%;
    height: fit-content;
  }
  .section6_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
  }
  .section6_accordion {
    width: 85%;
    height: fit-content;
  }
  .Accordionlist_imges {
    display: none;
  }
}
@media only screen and (max-width : 800px) {
  .Accordion_title{
font-size: 14px !important;
  }
}
