.sec1_bg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 7rem; */
  }
  
  .sec1 {
    width: 90%;
    height: fit-content;
  }
  @media only screen and (max-width : 900px) {
    .sec1{
        height: fit-content;
        width: 100%;
    }
  }