.buttons {
  font-size: 24px;
  color: #828282;
  margin-top: 20px;
  display: flex;
  width: 85.714px;
  height: 71.026px;
  padding: 0px 4.985px 0px 4.332px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  border: 0.361px solid rgba(29, 155, 240, 0.5);
  background: #fff;
  transition: 0.17s ease-in;
}

.buttons:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.c{
  color: #D40F00;
}
