.container {
  margin: 0 auto;
}

.titels {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #1d9bf0;
  margin-top: 20px;
  padding: 0 20px;
}

.testcontainer {
  width: 95%;
  height: 300px;
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
  background: #FAFAFA;
  margin-top: 30px;
  padding: 20px;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 30px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.w3review {
  padding: 20px;
  width: 95%;
height: 299px;
flex-shrink: 0;
border: 0.5px solid #1D9BF0;
background: #FAFAFA;
}