.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 50px 0px;
}
.calculator {
  background-image: url("../../../assests/image/backcalculator.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  max-width: 1400px;
  padding: 80px 0px;
}
.row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.section1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.section2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.col {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
}
.monitor {
  width: 100%;
  display: flex;
}
.number {
  font-weight: bold;
  color: #fd1846 !important;
}

@media only screen and (max-width: 1165px) {
  .row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    flex-direction: column;
  }
  .section1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .section2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .col {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    flex-direction: column;
  }
}