.container{
    width: 95%;
    margin: 0 auto;
}
.row {
  display: flex;
  align-items: center;
  margin-top: 45px;
}
.h6 {
  font-size: 18px;
  color: #1d9bf0;
  padding: 0 20px;
  font-family: Rokh-bold;
}
.titels {
  font-size: 16px;
  color: #040c1a;
  margin-top: 20px;
  padding: 0 20px;
}
.textlow {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #6c6c6c;
}
.box {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px 15px 20px 15px;
  min-height: 100px;
  gap: 15px;
  width: 100%;
  height: auto;
  background: #ffffff;
  box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.08);
  font-size: 14px;
  color: #040c1a;
  font-style: normal;
  font-weight: 600;
  text-align: justify;
}
.box p {
  line-height: 235%;
  text-align: right;
  font-size: 14px;
}
.rows{
    margin-top: 43px;
}
.mycustominputclass {
  background-color: white;
}
@media only screen and (max-width: 600px) {
}
