.container{
    padding: 10px;
    margin: 0 auto;
    margin-top: 100px;
    max-width: 1140px;
}
.title {
    color: #1d9bf0;
    font-family: Rokh-Bold;
    margin-bottom: 30px;
  }
.accordion{
    backdrop-filter: blur(5px) !important;
    background-color: rgba(183, 212, 230, 0.03) !important; 
    border-radius: 12px !important;
    border: 1px solid #1D9BF0;
    margin: 0px 25px !important;
    font-family: "IRANSansX" !important;
    width: 800px !important;
}
.row{
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
}
.number{
    backdrop-filter: blur(5px);
    background-color: rgba(220, 233, 241, 0.03);
    border-radius: 15px;
    border: 1px solid #1D9BF0;
    width: 50px;
    height: 50px;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button{
    backdrop-filter: blur(1px);
    background-color: rgba(220, 233, 241, 0.03);
    color: #1D9BF0;
    width: 269px;
    height: 47px;
    border-radius: 15px;
    border: 1px solid #1D9BF0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:  0.3s ease;
}
.button:hover{
    background-color: #1D9BF0;
    color:#ffff;
    transition:  0.3s ease;
}

@media only screen and (max-width: 700px) {
    .accordion{
        backdrop-filter: blur(5px);
        background-color: rgba(29, 155, 240, 0.03);
        border-radius: 12px !important;
        border: 1px solid #1D9BF0;
        margin: 0px 15px !important;
        font-size: 12px !important;
    }
    .number{
        backdrop-filter: blur(5px);
        background-color: rgba(29, 155, 240, 0.03);
        border-radius: 15px;
        border: 1px solid #1D9BF0;
        width: 150px;
        height: 50px;
        font-size: 14px;
    }
    .button{
        color: #1D9BF0;
        width: 350px;
        height: 50px;
        border-radius: 10px;
        font-size: 11px;
        text-align: center;
    }
}