.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  row-gap: 60px;
  margin-top: 20px;
  margin-bottom: 40px;
}
.box {
  width: 321px;
  height: 321px;
  background: #fafafa;
  box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0px;
}

.box img {
  width: 160px;
  transition: 0.3s ease-in;
}
.box img:hover{
    transition: 0.3s ease-in;
    transform: scale(1.05);
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  transition: 0.3s ease-in;
}
.wrapper:hover{
    transition: 0.3s ease-in;
    transform: scale(1.05);
}
.blur {
    filter: blur(3.48px);
}
.blurimage {
  position: relative;

}
.blurimage p {
  font-size: 27.913px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 2;
}
