.muirtl-1wlmjbe-MuiTypography-root{
    font-size: 0.8rem!important;
}

.muirtl-1ngr6yn-MuiListItemIcon-root {
  margin-left: 17px !important;
}

.bottomPush {
  position: "fixed";
  bottom: 0;
  text-Align: "center";
  padding-Bottom: 10;
}
.sidbar-box{
  position: sticky;
  height: 100vh;
  top: 0;
}