.box {
    font-family: 'Rokh-medium';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    /* color: #1D9BF0; */
    margin-top: 258px;
    padding-left: 150px;
    padding-right: 150px;
    max-width: 100%;
    overflow: auto;
}

.card {
    text-align: center;
}

.box h3 {
    font-family: "Rokh-Bold";
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 50px;
    padding-right: 40px;
}

.box p {
    font-family: "IRANSansX";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    /* color: #040C1A; */
    margin-top: -20px;
    margin-right: 30px;
}
.image{
    margin-bottom: 20px;
    height: 200px;
}


/* @media only screen and (max-width: 600px) {
    .image{
        margin-bottom: 50px;
    }
} */

@media only screen and (max-width: 1200px) {
    .lastch {
        display: none;
    }

    .box {
        margin-top: 100px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .box p {
        font-size: 17px;
        margin-right: 15px;
    }
    
}